@import 'tailwindcss';

@theme {
  --breakpoint-xxs: 568px;
}

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --background-primary: #f5f7fa; 
  --background-secondary: #e9edf4; 
  --content-background: #ffffff; 
  --text-primary: #23272f; 
  --text-secondary: #6b7280; 
  --accent-primary: #2563eb;
  --accent-secondary: #818cf8;
  --border-color: #d1d5db; 
  --shadow-color: rgba(30, 41, 59, 0.1); 
  --summary-card-text: #1E40AF; 
  --summary-card-bg: #DBEAFE; 
  --stepper-icon-default-bg: #d1d5db;
  --stepper-label-default-color: #6b7280;
  --connector-default-bg: #d1d5db;
  --stepper-icon-color-default: #1a202c;
  --stepper-icon-color-accent: #ffffff;
}

body.dark-theme {
  --background-primary: #181a20; 
  --background-secondary: #334155; 
  --content-background: #232635; 
  --text-primary: #f1f5f9; 
  --text-secondary: #a0aec0; 
  --accent-primary: #60a5fa;
  --accent-secondary: #818cf8;
  --border-color: #334155;
  --shadow-color: rgba(0, 0, 0, 0.32);
  --summary-card-text: #f1f5f9; 
  --summary-card-bg: rgba(30,58,138,0.4); 
  --stepper-icon-default-bg: #4a4a4a;
  --stepper-label-default-color: #b0b0b0;
  --connector-default-bg: #333;
  --stepper-icon-color-default: #eaeaea;
  --stepper-icon-color-accent: #ffffff;
}

body {
  background-color: var(--background-primary);
  color: var(--text-primary);
  transition: background-color 0.3s ease, color 0.3s ease;
}
